body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
}
.logo .logo-blue {
    color: #4D5AE5;
}
.logo .logo-black {
    color: #000000;
}
.menu .link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}
.contacts .info {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.Effective {
    background-color: #2E2F42;
    padding: 120px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}
.Effective .Order {
    display: block;
    margin-top: 40px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

}
.Our h2 {
    text-align: center;
}
.Team h3 {
    text-align: center;
}
.Team p {
    text-align: center;
}
.Team .Team-person {
background-color: #F4F4FD;
}

.footer {
background-color: #2E2F42;
padding: 100px 0;
}
.footer p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
text-transform: none;
}

.footer .footer-blue {
    color: #4D5AE5;
}
.footer .footer-white {
    color: #F4F4FD;
}